@import "compass/css3/pie";
@import "compass/css3";

/* =============================================================================
Measurements and Spacing
========================================================================== */
$photoBoxPadding: 1em;
$photoBoxPaddingLarge: $photoBoxpadding;
$photoBoxPaddingSmall: $photoBoxpadding;
$photoBoxPaddingMini: $photoBoxpadding;
$photoBoxMargin: 1em;
$photoBoxMarginSmall: $photoBoxmargin;
$photoBoxMarginLarge: $photoBoxmargin;
$photoBoxMarginMini: $photoBoxmargin;

/* =============================================================================
Type
========================================================================== */
$photoBoxBaseFontSize: 100%;
$photoBoxBaseFontFamily: "Open Sans", "sans-serif", "arial";
$photoBoxFontSizeSmall: 0.6em;
$photoBoxFontSizeMedium: 0.8em;
$photoBoxFontSizeLarge: 2.6em;
$photoBoxFontSizeMini: 0.4em;
$photoBoxLineHeight: 1.4;

/* =============================================================================
Border Radii
========================================================================== */
$photoBoxBorderRadius: 0.4em;
$photoBoxBorderRadiusSmall: $photoBoxBorderRadius * 0.75;
$photoBoxBorderRadiusLarge: $photoBoxBorderRadius * 1.25;

/* =============================================================================
Transitions
========================================================================== */
$photoBoxTransitionTime: 0.5s;
$photoBoxTransitionTimeSmall: 0.2s;
$photoBoxTransitionTimeLarge: 1s;
$photoBoxTransitionFunction: ease;

/* =============================================================================
Colours
========================================================================== */
$photoBoxTextColour: #000;
$photoBoxInverseTextColour: invert($photoBoxTextColour);
$photoBoxPrimaryColour: $photoBoxTextColour;
//colour of text and main colour overall
$photoBoxsecondaryColour: #d5d5d5;
$photoBoxtertiaryColour: #313131;

/* =============================================================================
Buttons
========================================================================== */
$photoBoxbuttonPrimaryColour: #CCC;
$photoBoxbuttonSecondaryColour: lighten($photoBoxbuttonPrimaryColour, $photoBoxmultiplierLargePercentage);

/* =============================================================================
Images
========================================================================== */
$photoBoxphotoBoxLoadingImage: url("../images/loading.gif");

/* =============================================================================
Borders
========================================================================== */
$photoBoxBorderWidth: 1px;
$photoBoxBorderStyle: solid;
$photoBoxBorderColour: fade-out(lighten($photoBoxTextColour, 80%), 0.5);
$photoBoxBorder: $photoBoxBorderWidth $photoBoxBorderStyle $photoBoxBorderColour;